/* Estilo general de la pagina */
body {
    font-family: Arial, sans-serif;
    /* agergue una imagen de fondo */
    background-image: url(fondo.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-clip:border-box; */
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para el título */
h1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    text-shadow: 4px 4px 5px gray;
}

/* estilo del cuadro de la calculadora */
.Calculadora {
    background-color:#fffcf2;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc5b9;
    max-width: 600px;
    margin: 0 auto;
}

/*estilo de los cuadros de input*/
input[type="number"], select, button {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc5b9;
    border-radius: 15px;
    font-size: 22px;
}



/* estilo del boton Calcular*/
button.Calcular {
    background-color:#403d39;
    color: white;
    cursor: pointer;
}
button.Calcular:hover {
    background-color: #eb5e28;
}

/* estilo para el boton Limpiar*/

button.Limpiar {
    background-color: #403d39;
    color: white;
    cursor: pointer;
    width: 50%;
    height: 50%;
    font-size: 80%;
}
button.Limpiar:hover {
    background-color: #eb5e28;
}

/* Estilo para el resultado */
p#Resultado {
    font-size: 30px;
    font-weight: bold;
}