/*Configuración del fondo de la pagina y tamaño de la letra en general.*/
html {
    background-color:rgba(255, 228, 196, 0.581);
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

/*configuración de los articulos*/
article {
    font-size:22px;
    font-family: Tahoma;
    padding: 10px;
    margin: 10px;
}
/* configuracion de la imagen*/

.imagen { 
    display: flex;
    justify-content:center;
    align-content: center;
}

/*configura elementos de las listas*/
li {
    font-size: 22px;
    font-family: Verdana;
    margin: 20px;
}

aside {
    background-color:rgba(255, 228, 196, 0.581);
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

footer {
    border: 1px solid black;
    font-size: 14px;
    padding: 20px;
    text-align-last: center;
}