body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #0A0908;
    /* background-image: url(fondo.jpg);
    background-position: center; */
    /* background-repeat: no-repeat; */
    background-clip: border-box;
    background-color: #cc7b26;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#Mensajes {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: red;
}


.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #EAE0D5;
}

.columna1 {
    border: transparent;
    padding: 20px;
    box-sizing: border-box;
}

.columna2 {
    display: none;
    flex-direction: column;
    border: transparent;
    padding: 20px;
    box-sizing: border-box;
}

.columna3 {
    display: none;
    border: transparent;
    padding: 20px;
    box-sizing: border-box;
}



/* Estilo para el título */
h1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    text-shadow: 4px 4px 5px gray;
    background-color: #EAE0D5
}

.Titulos {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    background-color: #EAE0D5
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}


#Datos {
    background-color: #EAE0D5;
    padding: 25px;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px #0A0908; */
    max-width: 600px;
    margin: 0 auto;
}

.Eleccion {
    display: flex;
    background-color: #EAE0D5;
    padding: 25px;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px #0A0908; */;
    max-width: 600px;
    margin: 0 auto;
}

.Ganador {
    display: block;
    background-color: #EAE0D5;
    padding: 50px;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px #0A0908; */
    max-width: auto;
    margin: auto;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#ganadorGlobal {
    font-size: larger;
    font-weight: bolder;
}

#Resultado {
    display: flex;
    background-color: #EAE0D5;
    padding: 25px;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px #0A0908; */
    max-width: 600px;
    margin: 0 auto;
}

/*estilo de los cuadros de input*/
input[type="text"],
select,
button {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc5b9;
    border-radius: 15px;
    font-size: 22px;
}

input[type="number"],
select,
button {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc5b9;
    border-radius: 15px;
    font-size: 22px;
}

/* estilo para los botones*/

button {
    background-color: #22333B;
    color: white;
    cursor: pointer;
    width: 100%;
    height: auto;
    font-size: 140%;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: #FF9F1C;
    transform: scale(1.05);
}


#Piedra {
    background-color: #2EC4B6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Piedra:hover {
    background-color: #228e83;
    transform: scale(1.20); 
}

#Papel {
    background-color: #E71D36; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Papel:hover {
    background-color: #84121f;
    transform: scale(1.20); 
}

#Tijera {
    background-color: #FF9F1C; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Tijera:hover {
    background-color: #9a6214;
    transform: scale(1.20); 
}


/* Estilo para el resultado */
p#Resultado {
    font-size: 30px;
    font-weight: bold;
}

#TituloResultado {
    display: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold
}

/* Tabla de resultados*/

table {
    border-collapse: separate;
    border: 1px solid #ccc;

}

td,
th {
    padding: 10px;
}

th {
    background: #22333B;
    color: #fff;
    text-transform:initial;
    text-align: center;
    text-size-adjust:inherit;
}

td {
    text-align: center;
    border-bottom: 2px solid #111;
    color: #333;
    font-size: 18px;
}

/* popup */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EAE0D5(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-contenido {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.popup button {
    background-color: #FF9F1C;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    
}

.popup button:hover {
    background-color: #FF9F1C;
}


.Ganador h3 {
    text-align: center;
    margin-bottom: 10px;
}

.Ganador h3 span {
    font-size: 24px;
    font-weight: bolder;
    color: #333;
    margin: 0 5px;
}